<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zifangdt.ch.finance.mapper.AccountTransferMapper">

    <select id="getDetail" resultType="AccountTransfer">
        select
          a.id,a.in_account_id,a.out_account_id,a.money,a.create_id,a.create_time,a.remark,a.attachments,a.handle_date,
          b.name in_account_name,c.name out_account_name
        from biz_account_transfer a
        left join biz_account b on a.in_account_id=b.id
        left join biz_account c on a.out_account_id=c.id
        where a.id=#{id}
    </select>
</mapper>