<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zifangdt.ch.market.mapper.PromotionDraftMapper">
  <resultMap id="BaseResultMap" type="com.zifangdt.ch.base.dto.market.PromotionDraft">
    <id column="pd_id" jdbcType="BIGINT" property="id" />
    <result column="pd_create_id" jdbcType="BIGINT" property="createId" />
    <result column="pd_create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="pd_modify_id" jdbcType="BIGINT" property="modifyId" />
    <result column="pd_modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.zifangdt.ch.base.dto.market.PromotionDraft">
    <result column="pd_content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    pd.id as pd_id, pd.create_id as pd_create_id, pd.create_time as pd_create_time, pd.modify_id as pd_modify_id, 
    pd.modify_time as pd_modify_time
  </sql>
  <sql id="Blob_Column_List">
    pd.content as pd_content
  </sql>
  <select id="findBy" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List"/>
    , <include refid="Blob_Column_List"/>
    from promotion_draft pd
    order by pd.${orderBy.columnName} ${sort}
  </select>
</mapper>