<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zifangdt.ch.product.mapper.CategoryMapper">
  <resultMap id="BaseResultMap" type="com.zifangdt.ch.base.dto.product.entity.Category">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_id" jdbcType="BIGINT" property="createId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_id" jdbcType="BIGINT" property="modifyId" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="no" jdbcType="INTEGER" property="no" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="parent_path" jdbcType="VARCHAR" property="parentPath" />
  </resultMap>
  <sql id="Base_Column_List">
    id, create_id, create_time, modify_id, modify_time, name, description, parent_id, parent_path
  </sql>
  <insert id="create" parameterType="com.zifangdt.ch.base.dto.product.entity.Category">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into category
    (create_id, name, description, parent_id, parent_path)
    values (#{createId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{description}, #{parentId}, #{parentPath})
  </insert>
  <update id="updateNosByIds">
    update category
    set no = case id
    <foreach collection="orderedIds" item="id" index="index">
      WHEN #{id} THEN #{index} + 1
    </foreach>
    end
  </update>
  <select id="findBy" resultType="com.zifangdt.ch.base.dto.product.entity.Category">
    select
    <include refid="Base_Column_List" />
    from category
    <where>
    <if test="name != null">
      and name like concat("%", #{name}, "%")
    </if>
    </where>
  </select>
  <select id="findOneByName" resultType="com.zifangdt.ch.base.dto.product.entity.Category">
    select
    <include refid="Base_Column_List"/>
    from category
    where name = #{name} limit 1
  </select>
  <select id="isSubCategoryExist" resultType="java.lang.Boolean">
    select exists(select 1 from category where parent_path like concat("%/", #{id}, "/%"))
  </select>
  <select id="findChildren" resultType="com.zifangdt.ch.base.dto.product.entity.Category">
    select <include refid="Base_Column_List"/>
    from category
    where parent_path like concat("%/", #{parentId}, "/%")
  </select>
</mapper>